header > nav > ul{
  display: flex;
  justify-content: start ;
  width: 50%;
  gap: 2rem ;
}

header > nav > ul > li {
  background-color: azure;
  color: black;
  padding: 3px;
  border: 1px white solid;
  border-radius: 6px;
}

header > nav > ul > li:hover{
  background-color: gray;
}


@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 20px 70px 0;
  }
}
